RAG against the machine.pdf
RAG against the machine_ja.pdf

moulinette/
.venv/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/output/*
!data/output/.gitkeep
data/datasets/AnsweredQuestions/*
!data/datasets/AnsweredQuestions/.gitkeep
data/datasets/UnansweredQuestions/*
!data/datasets/UnansweredQuestions/.gitkeep

__pycache__/
